@import 'smart-grid.scss';
@import './../fonts/PTSans/stylesheet.scss';
@include reset();

body{
  background-color: #797979;
  font-family: "PT Sans", sans-serif;

  font-kerning: normal;
}

input[type="text"]{
  background: none;
  border: none;
  line-height: 60px;
  width: 100%;
  font-family: "Courier New", sans-serif;
  font-size: 30px;
  color: #231f20;
  padding-left: 15px;
}

input[type="text"]::placeholder {
  color: #231f20;
}

input[type="text"]:focus{
  outline: none;
}

h2{
  font-size: 24px;
  font-weight: bold;
  color: #2f1b15;
}

p{
  font-size: 15px;
  line-height: 23px;
  font-kerning: normal;
  color: #3d3d3d;
}

.wrapper{
  max-width: 773px;
  margin: 0 auto;
  padding-left: 112px;
  padding-right: 115px;
  background: url('../img/bg.jpg');
}

/* Header
 */

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 48px;

  &__secret{
    position: relative;
    left: 61px;
  }

  &__logo{
    align-self: flex-start;
    margin-top: 14px;
  }
}


/* Content
 */

.content{
  &__title{
    padding-left: 256px;
    margin-bottom: 37px;
  }
}

.info-row{
  display: flex;
  margin-bottom: 0;

  &__name{
    font-size: 22.43px;
    font-weight: bold;
    color: #2f1b15;
    margin-right: 16px;
    flex-shrink: 0;
    align-self: flex-end;
    margin-bottom: 3px;

    &-pp{
      margin-bottom: 0;
    }
    &-pp1{
      margin-bottom: 5px;
    }
    &-pp2{
      margin-bottom: 2px;
      margin-right: 15px;
    }

  }

  &__value{
    &-pp{
      padding-left: 13px!important;
    }

    &-pp1{
      padding-left: 12px!important;
    }
    &-pp2{
      padding-left: 13px!important;
    }
  }
  &-pp1{
    margin-top: 3px;
  }

  &-pp2{
    margin-top: 0;
  }

  &-pp3{
    margin-left: -1px;
  }

  &-pp4{
    margin-top: 1px;
  }

  &__block{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 1;

    &:before{
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 49px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: url("./../img/line_input.png") no-repeat;
      background-size: 100%;
      transform: rotate(0.18deg);
    }

    &-pp3{
      padding-top: 5px;
    }

    &-pp{
      &:before{
        top: 50px;
      }
    }
    &-pp2{
      &:before{
        top: 48px;

      }
    }
    &-pp3{
      &:before{
        top: 50px;
        transform: rotate(0deg);
      }
    }
    &-pp4{
      &:before{
        top: 45px;
        transform: rotate(0deg);
      }
    }
  }
}

.checkbox{
  padding-top: 59px;

  &__title{
    position: relative;
    left: -1px;
    margin-bottom: 6px;
  }

  &__description{
    margin-bottom: 26px;
  }
}
.check-block__value:checked + .check-block__box{
  background: url("./../img/checkbox_check.png");
}

.check-block{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 293px;

  &__value{
    display: none;

  }

  &__name{
    display: block;
    position: relative;
    margin-left: 28px;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 8px;

    &-pp1{
      margin-bottom: 11px;
    }

    &-pp2{
      margin-bottom: 11px;
      line-height: 25px;
      margin-top: 9px;
    }
  }

  &__box{
    position: absolute;
    left: -28px;
    top: 50%;
    transform: translateY(-64%);
    height: 28px;
    width: 24px;
    background: url("./../img/checkbox.png");

    &-pp1{
      left: -25px;
    }

    &-pp2{
      left: -24px;
    }

    &-pp3{
      top: 11px;
      left: -24px;
    }

    &-pp4{
      top: 10px;
      left: -24px;
    }

    &-pp5{
      top: 13px;
    }

    &-pp6{
      left: -24px;
      transform: translateY(-67%);

    }
  }

  &__row{
    &-1{
      margin-right: 36px;
    }
    &-2{
       margin-right: 42.5px;
     }
    &-3{
      width: 272px;
    }
  }

  &__eye{
    vertical-align: -1px;
  }


  &__link{
    color: #1f5f97;
    position: relative;
    text-decoration: none;

    &:hover{
      opacity: .8;
    }

    &:before{
      content:'';
      position: absolute;
      height: 1px;
      bottom: 2px;
      width: 100%;
      background-color: #1f5f97;
    }
  }
}

.js-skill{
  &__title{
    position: relative;
    left: 2px;
    margin-bottom: 40px;
  }

  &__range{
    background: url("./../img/bg_range.png") no-repeat 1px;
    height: 26px;

  }

  &__block{
    display: flex;
    font-weight: bold;
    font-size: 13px;
  }

  &__item{
    &-pp1{
      flex-basis: 145px;
      margin-left: 1px;
      padding-top: 1px;
    }

    &-pp2{
      flex-basis: 226.9px;
      margin-top: -1px;
    }

    &-pp3{
      flex-basis: 175px;
      margin-top: -2px;
      line-height: 19px;
    }

    &-pp4{
      flex-basis: 200px;
      flex-grow: 1;
      margin-right: 2.5px;
      text-align: right;
      margin-top: 6px;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: none;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 16px;
  border-radius: 5px;
  background: url('./../img/arrow_range.png') no-repeat;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -27px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: none;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}