@import 'smart-grid.scss';
@import './../fonts/PTSans/stylesheet.scss';
@include reset();

body{
  background-color: #797979;
  font-family: "PT Sans", sans-serif;
}
.wrapper{
  @include wrapper();
  background: url('../img/bg.jpg');
}

/* Header
 */

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 48px;

  &__secret{
    position: relative;
    left: 60px;
  }

  &__logo{
    align-self: flex-start;
  }
}


/* Content
 */

.content{
  &__title{
    padding-left: 258px;
  }
}

.info-row{
  display: flex;

  &__name{
    font-size: 22px;
    font-weight: bold;
    color: #2f1b15;
  }
}

