@import 'smart-grid.scss';
@import './../fonts/PTSans/stylesheet.scss';
@include reset();

body{
  background-color: #797979;
}
.wrapper{
  @include wrapper();
  background: url('../img/bg.jpg');
}

/* Header
 */
.header{
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}
.header__secret{
  position: relative;
  left: 60px;
}
.header__logo{
  align-self: flex-start;
}

/* Content
 */

.description{
  padding-left: 258px;
}
